<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>air-bladder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,645},{91,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,86}}</string>
                <key>sourceSize</key>
                <string>{91,86}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{998,624}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{998,624}}</string>
                <key>sourceSize</key>
                <string>{998,624}</string>
            </dict>
            <key>background2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{998,624}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{998,624}}</string>
                <key>sourceSize</key>
                <string>{998,624}</string>
            </dict>
            <key>chemical-fertilizer-in-air-bladder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,733},{91,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,85}}</string>
                <key>sourceSize</key>
                <string>{91,85}</string>
            </dict>
            <key>chemical-fertilizer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,734},{39,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,49}}</string>
                <key>sourceSize</key>
                <string>{39,49}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,809},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>end.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{10,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,6}}</string>
                <key>sourceSize</key>
                <string>{10,6}</string>
            </dict>
            <key>greenHuLuBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,420},{76,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,172}}</string>
                <key>sourceSize</key>
                <string>{76,172}</string>
            </dict>
            <key>magnet-in-air-bladder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,907},{91,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,84}}</string>
                <key>sourceSize</key>
                <string>{91,84}</string>
            </dict>
            <key>magnet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,687},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
            <key>pause-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,775},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>redHuLuBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,234},{84,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{84,184}}</string>
                <key>sourceSize</key>
                <string>{86,184}</string>
            </dict>
            <key>redHuLuSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,354},{58,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,116}}</string>
                <key>sourceSize</key>
                <string>{60,116}</string>
            </dict>
            <key>route-line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{230,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,136}}</string>
                <key>sourceSize</key>
                <string>{230,136}</string>
            </dict>
            <key>shovel-in-air-bladder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,820},{91,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,85}}</string>
                <key>sourceSize</key>
                <string>{91,85}</string>
            </dict>
            <key>shovel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,636},{60,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,49}}</string>
                <key>sourceSize</key>
                <string>{60,49}</string>
            </dict>
            <key>skateboard-shoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,594},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,40}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>yellowHuLuBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,472},{75,171}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{75,171}}</string>
                <key>sourceSize</key>
                <string>{83,171}</string>
            </dict>
            <key>yellowHuLuSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,234},{59,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,118}}</string>
                <key>sourceSize</key>
                <string>{59,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainGame.png</string>
            <key>size</key>
            <string>{1409,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd281bcf12d52e597ae4c928b8891c6b:0a34d288c57b3220c29400ab6b4e49a5:9effdc64893a37702941da4b39f0cf11$</string>
            <key>textureFileName</key>
            <string>MainGame.png</string>
        </dict>
    </dict>
</plist>
