<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fall00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{82,115}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,36},{82,115}}</string>
                <key>sourceSize</key>
                <string>{212,183}</string>
            </dict>
            <key>fall01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1888},{70,87}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,63},{70,87}}</string>
                <key>sourceSize</key>
                <string>{212,183}</string>
            </dict>
            <key>fall02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1780},{80,99}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,50},{80,99}}</string>
                <key>sourceSize</key>
                <string>{212,183}</string>
            </dict>
            <key>fall03.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1428},{68,91}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,57},{68,91}}</string>
                <key>sourceSize</key>
                <string>{212,183}</string>
            </dict>
            <key>fall04.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1888},{86,101}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,40},{86,101}}</string>
                <key>sourceSize</key>
                <string>{212,183}</string>
            </dict>
            <key>fall05.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,462},{86,95}}</string>
                <key>offset</key>
                <string>{62,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,85},{86,95}}</string>
                <key>sourceSize</key>
                <string>{212,183}</string>
            </dict>
            <key>fall06.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,355},{86,105}}</string>
                <key>offset</key>
                <string>{60,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,78},{86,105}}</string>
                <key>sourceSize</key>
                <string>{212,183}</string>
            </dict>
            <key>fall07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1091},{76,121}}</string>
                <key>offset</key>
                <string>{38,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,61},{76,121}}</string>
                <key>sourceSize</key>
                <string>{212,183}</string>
            </dict>
            <key>fall08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{82,117}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,57},{82,117}}</string>
                <key>sourceSize</key>
                <string>{212,183}</string>
            </dict>
            <key>fall09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,117}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,38},{104,117}}</string>
                <key>sourceSize</key>
                <string>{212,183}</string>
            </dict>
            <key>jump00.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1318},{71,108}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{71,108}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>jump01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{63,104}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,40},{63,104}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>jump02.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1521},{55,94}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{55,94}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>jump03.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1672},{73,104}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,39},{73,104}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>jump04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{93,122}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{93,122}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>jump05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{83,116}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{83,116}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>jump06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{75,122}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{75,122}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>jump07.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1091},{95,114}}</string>
                <key>offset</key>
                <string>{-20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{95,114}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>jump08.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,731},{87,114}}</string>
                <key>offset</key>
                <string>{-21,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{87,114}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>jump09.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,619},{89,110}}</string>
                <key>offset</key>
                <string>{-23,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{89,110}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>jump10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{83,122}}</string>
                <key>offset</key>
                <string>{-20,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{83,122}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>jump11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{85,118}}</string>
                <key>offset</key>
                <string>{-23,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{85,118}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>jump12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{101,110}}</string>
                <key>offset</key>
                <string>{-30,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{101,110}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>jump13.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,245},{85,108}}</string>
                <key>offset</key>
                <string>{-23,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{85,108}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>jump14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{83,116}}</string>
                <key>offset</key>
                <string>{-20,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{83,116}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>jump15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{83,128}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,3},{83,128}}</string>
                <key>sourceSize</key>
                <string>{161,164}</string>
            </dict>
            <key>run00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1672},{98,106}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{98,106}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
            <key>run01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{92,112}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{92,112}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
            <key>run02.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,847},{86,108}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{86,108}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
            <key>run03.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,974},{82,102}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{82,102}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
            <key>run04.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,121},{78,104}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{78,104}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
            <key>run05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1780},{90,106}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{90,106}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
            <key>run06.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1214},{96,102}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{96,102}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
            <key>run07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{102,106}}</string>
                <key>offset</key>
                <string>{-25,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{102,106}}</string>
                <key>sourceSize</key>
                <string>{162,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mouse.png</string>
            <key>size</key>
            <string>{177,1977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8a25312f6c50e2032d59d20b04a8538:adaacb69b874c33b1504d43c762dabe5:20d3bf1a586c44b04bfe3c9a4cda4070$</string>
            <key>textureFileName</key>
            <string>mouse.png</string>
        </dict>
    </dict>
</plist>
