<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mouse00.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{275,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,251}}</string>
                <key>sourceSize</key>
                <string>{275,251}</string>
            </dict>
            <key>mouse01.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{275,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,248}}</string>
                <key>sourceSize</key>
                <string>{275,248}</string>
            </dict>
            <key>mouse02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,2},{275,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,222}}</string>
                <key>sourceSize</key>
                <string>{275,222}</string>
            </dict>
            <key>mouse03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,2},{275,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,225}}</string>
                <key>sourceSize</key>
                <string>{275,225}</string>
            </dict>
            <key>mouse04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{275,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,258}}</string>
                <key>sourceSize</key>
                <string>{275,258}</string>
            </dict>
            <key>mouse05.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{275,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,257}}</string>
                <key>sourceSize</key>
                <string>{275,257}</string>
            </dict>
            <key>mouse06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{275,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,229}}</string>
                <key>sourceSize</key>
                <string>{275,229}</string>
            </dict>
            <key>mouse07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,2},{275,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,229}}</string>
                <key>sourceSize</key>
                <string>{275,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mouse.png</string>
            <key>size</key>
            <string>{1937,279}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1ba3e63afc50438556dce821344d0ed:e31adfb352a92a47664a91011bb4ee24:20d3bf1a586c44b04bfe3c9a4cda4070$</string>
            <key>textureFileName</key>
            <string>mouse.png</string>
        </dict>
    </dict>
</plist>
